.marquee {
    width: auto;
    background: var(--color-secondary);
    padding: 24px 0;
    position: relative;
    display: flex;
    cursor: pointer;

    a {
        color: var(--color-black);
    }

    .marquee-content {
        display: inline-block;
        white-space: nowrap;
        font-size: 41px;
        letter-spacing: 3px;
        animation: marquee 20s linear infinite;

        span {
            padding-right: 70px;
        }
    }

    &:hover .marquee-content {
        animation-play-state: paused;
        color: #292929;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-33.33%);
        }
    }

        @media (max-width: 1200px) {
            .marquee-content {
                font-size: 34px;
                letter-spacing: 2px;

                span {
                    padding-right: 50px;
                }

                animation-duration: 22s;
            }
        }
    
        @media (max-width: 768px) {
            font-size: 26px;
            letter-spacing: 1.5px;

            span {
                padding-right: 40px;
            }

            animation-duration: 25s;
        }
    
        @media (max-width: 480px) {
            padding: 16px 0;

            .marquee-content {
                font-size: 20px;

                span {
                    padding-right: 30px;
                }
                
                animation-duration: 20s;
            }
        }
}