.footer-section {
    background: var(--color-black);
    color: var(--color-white);
    padding: 25px 90px;
    text-align: center;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 25px;

            .icon-wrapper {
                background: var(--color-white);
                color: var(--color-black);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                text-decoration: none;
            }

        }
        .footer-text {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

        @media (max-width: 1200px) {
            padding: 25px 60px;

            .footer-container .footer-text {
                font-size: 14px;
            }
        }
    
        @media (max-width: 768px) {
            padding: 25px 40px;

            .footer-container {
                .footer-text {
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;
                }
            }
        }
    
        @media (max-width: 480px) {
            padding: 25px 20px;
            
            .footer-container {
                .social-icons {
                    gap: 15px;
        
                    .icon-wrapper {
                        width: 28px;
                        height: 28px;
                        font-size: 15px;
                    }
                }
        
                .footer-text {
                    flex-direction: column;
                    gap: 8px;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
}