.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 48px;

    .column {
        padding: 0 24px;
    }

    .image-col {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }

    .text-col {
        h3 {
            font-size: 35px;
            margin-bottom: 24px;
            ;
        }

        span {
            font-weight: 700;
        }

        p {
            font-size: 20px;
            line-height: 1.8;
        } 
    }
}